<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="applog" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Astar_10_19_31_0:0:14</string>
                        <string>Astar_16_460_709_0:0:14</string>
                        <string>Astar_1_1_2_0:0:14</string>
                        <string>BFS_1_1_2_0:0:10</string>
                        <string>BFS_2_2_5_0:0:10</string>
                        <string>Astar_2_2_5_0:0:13</string>
                        <string>BFS_3_9_17_0:0:10</string>
                        <string>Astar_3_3_7_0:0:13</string>
                        <string>BFS_4_35_67_0:0:11</string>
                        <string>Astar_4_4_8_0:0:14</string>
                        <string>BFS_5_54_99_0:0:11</string>
                        <string>Astar_5_5_10_0:0:13</string>
                        <string>BFS_6_123_227_0:0:14</string>
                        <string>Astar_6_6_11_0:0:13</string>
                        <string>BFS_7_649_1225_0:0:46</string>
                        <string>Astar_7_7_13_0:0:13</string>
                        <string>BFS_8_958_1769_0:0:33</string>
                        <string>Astar_8_12_22_0:0:14</string>
                        <string>BFS_8_2931_5571_0:2:24</string>
                        <string>Astar_8_8_14_0:0:13</string>
                        <string>BFS_8_1450_2609_0:0:23</string>
                        <string>Astar_8_9_15_0:0:13</string>
                        <string>BFS_9_4102_7619_0:4:57</string>
                        <string>Astar_9_10_17_0:0:14</string>
                        <string>BFS_10_10539_19907_0:27:9</string>
                        <string>BFS_11_38918_73155_8:57:57</string>
                        <string>Astar_11_173_290_0:0:42</string>
                        <string>Astar_11_173_290_0:0:41</string>
                        <string>Astar_12_540_982_0:0:58</string>
                        <string>Astar_13_2785_5296_0:5:19</string>
                        <string>Astar_13_2785_5296_0:5:24</string>
                        <string>Astar_14_5614_10480_0:23:44</string>
                        <string>Astar_13_39_67_0:0:15</string>
                        <string>Astar_15_1460_2406_0:1:19</string>
                        <string>Astar_15_7660_14238_1:37:47</string>
                        <string>BFS_12_90411_171459_42:42:56</string>
                        <string>Astar_12_540_982_0:0:18</string>
                        <string>Astar_12_540_982_0:0:35</string>
                        <string>Astar_12_593_968_0:0:42</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>
